html {
  background-image: url(images/beachback.jpg);
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
  font-family: "Lucida Sans", sans-serif;
}

#nav {
	background-color: white;
	border: solid;
	position: absolute;
	padding: 8px;
}
#header {
	color: white;
	padding: 50px;
	font-size: 25px;
}
#content {
	background-color: black;
	color: white;
	border: solid;
}
#picprop {
	border:solid;
	color: white;
}
#copyright {
	position: absolute;
	border:solid;
	background-color: white;
	padding: 8px;
	float: bottom;
}
#links {
	color: white;
}

#waterback {
	background-image: url(images/beachback.jpg);
	
	font-size: 15px;
	}
#register {
	
	background-color: black;
	color: white;
	border: solid;
	width: 65%;
	height: 500px;
	}
